img {
    max-height: 100px !important;
    width: auto !important;
}

.todayTemp {
    font-size: 100px !important;
}

.city {
    font-size: 50px !important;
    color: antiquewhite;
    height: 50px !important;
}